    <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      {{ if .Params.thumbnail }}
        <div class="post__thumbnail-wrapper">
          <a href="{{ .RelPermalink }}">
            <img class="post__thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy" />
          </a>
        </div>
      {{ end }}
      <div class="post__content">
        {{ if (eq .Site.Params.disableTitleCapitalization true) }}
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ else }}
          <h2><a href="{{ .RelPermalink }}">{{ upper .Title }}</a></h2>
        {{ end }}
      {{- partial "post-meta.html" . -}}
        {{ if .Site.Params.fullPostContent }}
          <p>{{ .Content | safeHTML | plainify }}</p>
        {{ else }}
          <p>{{ .Summary | safeHTML | plainify }}</p>
        {{ end }}
        <!-- add read more -->
        {{- if and (.Truncated) (.Site.Params.readMore) -}}
          <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
        {{- end -}}
      </div>

      <!--  -->
    </div>
